
target/classes/dad/GsonSample/App.class
target/classes/dad/GsonSample/Persona.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
.classpath
